.game-screen,
.game-screen> :nth-child(1),
.question,
.questions,
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


.game-screen {
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.game-screen> :nth-child(1) {
    margin-bottom: 31px;
    margin-top: 30px;
}

.game-screen> :nth-child(1) img {
    height: 60px;
    width: 52px;
    margin-right: 20px;
}

.game-screen> :nth-child(1) h1 {
    font-size: 36px;
    color: #ffffff;
}