@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');


body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.root {
    height: 100%;
    width: 100%;
}

.home-screen>div,
.home-screen,
.game-screen,
.game-screen> :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-screen {
    box-sizing: border-box;
    flex-direction: column;
    background-color: #FB6B6B;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.home-screen img {
    height: 161px;
    width: 136px;
}

.home-screen h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 13px;
}

.home-screen>div {
    background-color: #FFFFFF;
    font-family: Recursive;
    width: 246px;
    height: 54px;
    color: #D70900;
    border: 1px solid #D70900;
    border-radius: 5px;
    margin-top: 30px;
}

.hidden {
    display: none;
}

.game-screen {
    flex-direction: column;
}

.game-screen> :nth-child(1) img {
    height: 60px;
    width: 52px;
}

.game-screen> :nth-child(1) h1 {
    font-size: 36px;
    color: #ffffff;
}

@media (max-width: 935px) {

    .home-screen {
        height: 100%;
    }
}