.scoreboard,
.result {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
}

.scoreboard h3 {
    font-weight: 400;
    font-family: Recursive;
    font-size: 18px;
    padding: 6px;
}

.scoreboard ion-icon {
    margin-right: 4px;
    font-size: 24px;
    margin-top: 5px;
}

.scoreboard p {
    font-family: Recursive;
    font-size: 18px;
    max-width: 222px;
    text-align: center;
    padding: 9px;
}

.result {
    padding: 9px;
}